$banana-yellow: rgb(255, 204, 51);
$blue-meth: rgb(50, 148, 205);
$sunset-red: rgb(255, 51, 51);
$acid-green: rgb(114, 209, 106);

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    


    &__Tabs {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__Items {
        background-color: white;
        border-radius: 10px;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 1rem;
        box-shadow: 0px 3px 8px 0px rgb(155, 155, 155);
        button {
            margin: 1rem;
            padding: 1rem;
            border-radius: 5px;
            border: none;
            font-size: 1.2rem;
            color: white;
            background-color: $sunset-red;
        }
        
    }
    
}


