$banana-yellow: rgb(255, 204, 51);
$blue-meth: rgb(50, 148, 205);
$sunset-red: rgb(255, 51, 51);
$acid-green: rgb(114, 209, 106);

.Product {
    padding: 1rem;

    svg {
       border-radius: 10px;
       color: white;
    }
}