.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 360px;

  &__content {
    right: 0;
    left: 0;
    width: 100%;
  }

  &__header {
    position:sticky;
    left: 0;
 
    top: 0;
    width: 100%;
    text-align: center;
  }

  &__footer {
    border-radius: 100%;
    position: fixed;

    right: 0;
    bottom: 0;
    text-align: center;
  }
}

