$sunset-red: rgb(255, 51, 51);
$acid-green: rgb(114, 209, 106);

.Navbar {
    background-color: $sunset-red ;
    color: white;
    box-shadow: 0px 3px 8px 0px rgb(155, 155, 155);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 2rem;
        font-weight: bold;;
    }

    button {
        min-width: 8vw;
        padding: 1rem;
        border-radius: 5px;
        border:none;
        font-weight: bold;
        font-size: 20px;
        background-color: $acid-green;
        color: white;
        &:hover {
            background-color: yellowgreen;
        }

    }

}

