$banana-yellow: rgb(255, 204, 51);
$blue-meth: rgb(50, 148, 205);
$sunset-red: rgb(255, 51, 51);
$acid-green: rgb(114, 209, 106);
$img-size: 2rem;

.Cart {
    text-align: left;

    &__button {
        padding: 1rem;
        border-radius: 10px;
        background: $sunset-red;
        color: inherit;
        border: 3px solid $sunset-red;
        cursor: pointer;
        outline: inherit;
        font-size: 1rem;
        box-shadow: 0px 3px 8px 0px rgb(155, 155, 155);
        color: white;

        img {
            height: $img-size;
            width: $img-size;
        }
    }

    &__button-close {
        padding: 1rem;
        border-radius: 10px;
        background: $sunset-red;
        color: inherit;
        border: 3px solid $sunset-red;
        cursor: pointer;
        outline: inherit;
        font-size: 1rem;
        text-align: right;
        color: white;

    }

    &__shoppingList {
        padding: 1rem;
        color: white;
        border-radius: 10px;
        background: $sunset-red;
        color: inherit;
        border: 3px solid $sunset-red;
        cursor: pointer;
        outline: inherit;
        font-size: 1rem;
        box-shadow: 0px 3px 8px 0px rgb(155, 155, 155);

        tr {
            color: white;
            

            td{
              margin-right: 3px;  
              text-align: center;
              padding-left: 5px;
              padding-right: 5px;
            }

            button {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit; 
            }
        }
    }


}

