$banana-yellow: rgb(240, 206, 104);
$blue-meth: rgb(50, 148, 205);

.Tabsbar {
    box-shadow: 0px 3px 8px 0px rgb(155, 155, 155);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    button {
        border: none;
        color: white;
        padding: 0.5rem;
        width: 100%;
        background-color: $banana-yellow;
        font-size: 1.5rem;
    }
}